<section id="post_job">
    <div class="vertical-space-100"></div>
    <div class="vertical-space-101"></div>
    <div class="container">
    <div class="list-box">
    <a href="#" class="font-color-black margin-right">Job </a> > <a href="#" class="font-color-orange margin-left"> Post job</a>
    </div>
    <!-- <a href="#" class="Save">Save</a> -->
    <div class="vertical-space-60"></div>
    <div class="job-post-box">
    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">

      <div class="form-group">
        <label for="exampleInputJobtitle">JobNo</label>
        <input ngModel type="text" class="form-control" name="JobNo" id="exampleInputJobtitle" placeholder="Enter your job title" required />
        </div>

      <!-- job-title -->

    <div class="form-group">
    <label for="exampleInputJobtitle">Job Title</label>
    <input ngModel type="text" class="form-control" name="JobTitle" id="exampleInputJobtitle" placeholder="Enter your job title" required />
    </div>

    <!-- company -->
    <div class="row">
    <div class="col-lg-6 col-md-6">
    <div class="form-group">
    <label for="exampleInputCompany">Company Name</label>
    <input ngModel type="text" class="form-control" name="CompanyName" id="exampleInputCompany" placeholder="Full name of company" required />
    </div>
    </div>
    <!-- location -->
    <div class="col-lg-6 col-md-6">
    <div class="form-group">
    <label for="exampleInputLoction">Loction</label>
    <input ngModel type="text" class="form-control" name="Location" id="exampleInputLoction" placeholder="Company Address" required />
    </div>
    </div>
    </div>

  <!-- company logo
    <div class="row">
    <div class="col-lg-6 col-md-6">
    <div class="form-group ">
    <label>Company Logo</label>
    <div class="box text-center">
    <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
    <label for="file-5">
    <i>
    <img src="imags/job-post.png" class="imtges" alt="">
    </i>
    drop file
    <span>Drop your file here, or <i class="font-color-orange">Browse</i></span>
    </label>
    </div>
    </div>
    </div>
    document
    <div class="col-lg-6 col-md-6">
    <div class="form-group">
    <label>Document</label>
    <div class="box text-center">
    <input type="file" name="file-7[]" id="file-7" class="inputfile1 inputfile-4" data-multiple-caption="{count} files selected" multiple />
    <label for="file-7">
    <i>
    <img src="imags/job-post.png" class="imtges" alt="">
    </i>
    drop file
    <span>Drop your file here, or <i class="font-color-orange">Browse</i></span>
    </label>
    </div>
    </div>
    </div>
    </div> -->

    <div class="form-group">
    <label  for="exampleInputShortDescription">Short Description</label>
    <textarea ngModel class="form-control small" name="ShortDescription" id="exampleInputShortDescription" placeholder="Write short description" rows="3" required></textarea>
    </div>
    <div class="form-group">
    <label for="exampleInputLongDescription">Write full description</label>
    <textarea ngModel class="form-control large" name="FullDescription" id="exampleInputLongDescription" placeholder="Write Full description" rows="3" required></textarea>
     </div>

     <div class="form-group">
      <label for="exampleInputLongDescription">Job Nature</label>
      <textarea ngModel class="form-control large" name="JobNature" id="exampleInputLongDescription" placeholder="SalaryRange" rows="3" required></textarea>
       </div>

       <div class="form-group">
        <label for="exampleInputLongDescription">Salary Range</label>
        <textarea ngModel class="form-control large" name="SalaryRange" id="exampleInputLongDescription" placeholder="Full Time, Part Time, Freelancer" rows="3" required></textarea>
         </div>
    <!-- <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
        <label for="sel1">Job Nature</label>
        <select class="form-control" name="JobNature" id="sel1" name="sellist1">
        <option ngModel>Full Time</option>
        <option ngModel>Part Time</option>
        <option ngModel>FreeLance</option>
        </select>
        </div>
        </div> -->
    <!-- <div class="col-lg-6 col-md-12">
    <div class="form-group mybtn" id="Job-Nature">
    <label>Job Nature</label>
    <div class="row">
    <div class="col-lg-4 col-md-4">
    <a class="Job-Nature active1">Full Time</a>
    </div>
    <div class="col-lg-4 col-md-4">
    <a class="Job-Nature">Part Time</a>
    </div>
    <div class="col-lg-4 col-md-4">
    <a class="Job-Nature">Freelancer</a>
    </div>
    </div>
    </div>
    </div> -->
    <!-- <div class="col-lg-6 col-md-12">
    <div class="form-group">
    <label for="sel1">Salary Range:</label>
    <select class="form-control" name="SalaryRange" id="sel1" name="sellist1">
    <option ngModel>5,000 - 10,000</option>
    <option ngModel>3,000 - 5,000</option>
    <option ngModel>2,000 - 1,000</option>
    <option ngModel>7,000 - 10,000</option>
    </select>
    </div>
    </div>
    </div> -->
    <div class="form-group">
    <label>Agree with term and conditions</label>
    <div class="form-check">
    <input type="checkbox" class="form-check-input " id="exampleCheck1" required />
    <label class="form-check-label text-left" for="exampleCheck1">Lorem ipsum tempus amet conubia adipiscing fermentum viverra gravida, mollis suspendisse pretium dictumst inceptos mattis euismod lorem nulla magna duis nostra sodales luctus nulla</label>
    </div>
    </div>
    <button type="button" type="submit" class="btn btn-primary">Post Job Offer</button>
    </form>
    </div>
    </div>
    </section>
